<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mythirddemo">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 读取外置存储卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_wangyiyun"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_wangyiyun"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".findother.RecommendListActivity" />
        <activity android:name=".home.WebActivity" />
        <activity android:name=".home.ViewPagerActivity" />
        <activity android:name=".LoginSolve.EnsureActivity" />
        <activity android:name=".LoginSolve.FindPasswordActivity" />
        <activity android:name=".LoginSolve.PasswordActivity" />
        <activity android:name=".LoginSolve.PhoneActivity" />
        <activity android:name=".LoginSolve.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>